<div class="min-h-auto flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign up
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "sign in to your account", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: "mt-8 space-y-6"} do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email address"%>
        </div>
      </div>

      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :password, class: "sr-only" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password" %>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Confirm password"  %>
        </div>
      </div>

      <div class="flex items-center justify-between">
      </div>

      <div>
        <%= render(Shared::Button::Component.new(text: 'Sign Up')) %>
      </div>
    <% end %>
  </div>
</div>
