<%= render MainContainer::Component.new do %>
  <%= link_to blog_index_path, class: "inline-block bg-gray-100 rounded p-3 my-3 hover:bg-gray-200" do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>

  <div class="mb-5 pb-5 border-b border-gray-200">
    <h1><%= @post.title %></h1>

    <p>Published on <%= l @post.published_on %></p>
  </div>

  <div class="my-3">
    <%= @post.body_html.html_safe %>
  </div>
<% end %>